#main {
    position: relative;
    width: 100%;
    height: 160px;
    margin: 0 auto;
    padding: 13px 0 0 0;
}

body {
    background: white;
    color: #009999;
}

body {
    margin: 0;
    padding: 0;
    background: #e0e0e0;
    color: #333;
    font: 12px/1.5 'segoe ui', 'lucida sans unicode', 'lucida grande', lucida, sans-serif;
}


#header {
    background: #009999;
}

#header {
    position: absolute;
    width: 100%;
    height: 130px;
    margin: -2px;

}

div {
    display: block;
}

#header .box {
    position: absolute;
    top: 6px;
    width: 75px;
    height: 25px;
    background: silver;
}

#header #hdr-box1 {
    background: #46b3b3;
}

#hdr-box1 {
    left: 15px;
}

#header #hdr-box2 {
    background: #24a0a0;
}

#hdr-box2 {
    left: 100px;
}

#header #hdr-box3 {
    background: #007777;
}

#hdr-box3 {
    left: 185px;
}

#header #hdr-box4 {
    background: #005d5d;
}

#hdr-box4 {
    left: 270px;
}
#header #logo_cart{
    background: #009999 ;
    background-image: url(/resources/image/cart_8934.png);
    background-repeat: no-repeat;
}
#logo_cart{
    left: 1250px;
}

h1 {
    display: block;
    font-size: 4em;
    -webkit-margin-before: 0.75em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 50px;
    -webkit-margin-end: 50px;
    font-weight: bold;
}

h2 {
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#header h1 {
    color: #46b3b3;
    font-style: italic;
}

#header h2 {
    color: #005d5d;
}

#header h2 {
    position: absolute;
    top: 60px;
    right: 120px;
    margin: 0;
    width: 14em;
    font-size: 15px;
    line-height: 1.33;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}

#menu {
    border-color: #0d3184;
}

#menu {
    margin: 0;
    padding: 130px 0 0 0;
    list-style-type: none;
    height: 30px;

}

#menu a {
    background: #5777c0;
    color: #082568;
}

#menu li {
    float: left;
    margin: 0;
    padding: 0;
    width: 20%;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#menu a span {
    background: #1240ab;
}

#menu a span {
    display: block;
    position: absolute;
    top: 5px;
    left: 8px;
    width: 8px;
    height: 8px;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#menu a {
    position: relative;
    display: block;
    margin: 1px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background: #5777c0;
    color: white;
}

a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
